Checks: >
  -*,
  bugprone-*,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.*,
  concurrency-*,
  -concurrency-mt-unsafe,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-function-size,
WarningsAsErrors: >
  *,
  -misc-include-cleaner,