IndentWidth: 2
PointerAlignment: Right
ColumnLimit: 80
LineEnding: LF
IndentCaseLabels: true
InsertBraces: true
IndentPPDirectives: BeforeHash
ReflowComments: true
SpaceAfterCStyleCast: false
AllowShortEnumsOnASingleLine: false
AlignArrayOfStructures: Left
InsertNewlineAtEOF: true
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: OnePerLine

IncludeBlocks: Regroup
IncludeCategories:
 - Regex: '^".+'
   Priority: 2
 - Regex: '^<.+'
   Priority: 1